<body>
    <section id="Back-button" class="justified-button">
        <div class="justified-back">
            <button class="back-button" [routerLink]="['/home']">
                <fa-icon [icon]="faArrowLeft" class="white-icon"></fa-icon>
            </button>
        </div>
    </section>
    <div class="admin-page">
        <div class="game-grid">
            <div *ngFor="let game of games" class="game-item">
                <div [ngClass]="{ 'game-container': true, 'game-invisible': !game.visibility }">
                    <div class="game-box">
                        <img [src]="game.image" alt="{{ game.name }}" class="game-image" />
                        <div class="game-overlay">
                            <div class="game-details">
                                <!-- <p>Mode: {{ game.details }}</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="game-info">
                        <h3>{{ game.name }}</h3>
                        <h3>Taille: {{ game.size }}</h3>
                        <h3>Mode: {{ game.mode }}</h3>
                        <h3>Dernière modification : {{ game.date | date: 'short' }}</h3>
                        <div class="game-actions">
                            <fa-icon
                                [icon]="game.visibility ? faEye : faEyeSlash"
                                (click)="toggleVisibility(game)"
                                title="Toggle Visibility"
                                class="visibility-icon"
                            >
                            </fa-icon>
                            <fa-icon [icon]="faEdit" [routerLink]="['/edit-page']" title="Modifier"></fa-icon>
                            <fa-icon [icon]="faDownload" (click)="downloadGame(game)" title="Exporter"></fa-icon>
                            <fa-icon [icon]="faTrashAlt" (click)="deleteGame(game._id)" title="Supprimer"></fa-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="server-message" class="justified">
        <div class="justified">
            <button class="button" (click)="openGameSetupModal()">Créer un jeu</button>
            <app-game-setup-modal *ngIf="isGameSetupModalVisible" (close)="closeGameSetupModal()"></app-game-setup-modal>
        </div>
    </section>
</body>
