<div class="container-tile">
    <h3>Tuiles</h3>
    <div class="applicator-tools">
        <img
            class="tool"
            (click)="selectTool('wall')"
            [class.active]="selectedTool === 'wall'"
            src="../../../assets/tiles/Wall.png"
            alt="Wall Tool"
        />

        <img
            class="tool"
            (click)="selectTool('water')"
            [class.active]="selectedTool === 'water'"
            src="../../../assets/tiles/Water.png"
            alt="Water Tool"
        />

        <img
            class="tool"
            (click)="selectTool('door')"
            [class.active]="selectedTool === 'door'"
            src="../../../assets/tiles/Door.png"
            alt="Door Tool"
        />

        <div>
            <img
                class="tool"
                (click)="selectTool('ice')"
                [class.active]="selectedTool === 'ice'"
                src="../../../assets/tiles/Ice.png"
                alt="Ice Tool"
            />
        </div>
    </div>
</div>
