.applicator-tools {
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 2px;
}

.tool {
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 90px;
    height: 90px;
    border: 2px solid black;

    &:hover {
        background-color: #e0e0e0;
    }

    &.active {
        border: 3px solid #f7f9fa;
    }
}

h3 {
    margin-left: 23%;
}
