<div class="join-page">
    <header class="create-header">
        <app-button *ngIf="!showCharacterCreation" [icon]="faArrowLeft" [routerLink]="['/home']"> </app-button>
        <h1>Rejoindre une partie</h1>
    </header>
    <div *ngIf="!showCharacterCreation">
        <!-- secret code form -->
        <div class="join-game-container">
            <h2 class="secret-code-label">Veuillez entrer le code secret de la partie que vous souhaitez rejoindre :</h2>
            <div>
                <input class="secret-code-input" type="text" [(ngModel)]="secretCode" placeholder="Code secret" />
            </div>
            <button (click)="onJoinGame()" class="join-button">Rejoindre la partie</button>
            <div *ngIf="errorMessage" class="error-message">
                {{ errorMessage }}
            </div>
        </div>
    </div>

    <div *ngIf="showCharacterCreation">
        <div class="join-game-container">
            <app-character-creation
                (backToGameSelection)="onBackToGameSelection()"
                [isCreatingGame]="isCreatingGame"
                [sessionCode]="sessionCode"
            ></app-character-creation>
        </div>
    </div>
</div>
