<div class="create-page">
    <header class="create-header">
        <a href="#" class="home-button" *ngIf="!showCharacterCreation" (click)="goHome()">Accueil</a>
        <h1>Créer une nouvelle partie</h1>
    </header>

    <div class="create-body">
        <!-- principal contenant -->
        <div class="content-container">
            <!-- game list if no form -->
            <ng-container *ngIf="!showCharacterCreation">
                <h3>Sélectionner un jeu</h3>
                <app-game-list [games]="games" (gameSelected)="onGameSelected($event)"></app-game-list>
                <div *ngIf="errorMessage" class="error-message">
                    {{ errorMessage }}
                </div>

                <button [disabled]="!enableValidation()" class="validate-button" (click)="validateGameBeforeCreation()">
                    Valider la sélection du jeu
                </button>
            </ng-container>

            <!-- form if no game view -->
            <ng-container *ngIf="showCharacterCreation">
                <h3>Création de personnage pour {{ selectedGame?.name }}</h3>
                <app-character-creation (backToGameSelection)="onBackToGameSelection()"></app-character-creation>
            </ng-container>
        </div>
    </div>
</div>
