.create-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
    background-color: #64cff6;
    color: #fff;

    .create-header {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;

        h1 {
            font-size: 2.5em;
            color: #100f01;
            text-shadow: 0 0 5px rgba(56, 55, 54, 0.5);
        }
    }

    .create-body {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-between;

        .left-part {
            width: 40%;
            display: flex;
            flex-direction: column;

            .game-cards {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;
            }

            .game-card {
                background-color: #aacaa6;
                padding: 8px;
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                width: 160px;
                height: 100px;
                cursor: pointer;

                &.selected {
                    background-color: #3a2b10;
                    border-color: #ffeb3b;
                }

                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
                }
                .game-info {
                    text-align: center;
                    h4 {
                        font-size: 0.8em;
                    }
                    p {
                        font-size: 0.6em;
                    }
                }
            }

            .validate-button {
                margin-top: 20px;
                padding: 10px 20px;
                background-color: #e91e63;
                color: #fff;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: #00bcd4;
                }

                &:disabled {
                    background-color: #777;
                    cursor: not-allowed;
                }
            }
        }

        .right-part {
            width: 60%;
            margin-left: 20px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: 100%;

            .character-creation {
                padding: 10px;
                background-color: #aacaa6;
                border-radius: 12px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                height: auto;

                .form-section {
                    margin-bottom: 10px;
                }

                label {
                    display: block;
                    font-size: 1em;
                    color: #ffeb3b;
                    margin-bottom: 5px;
                }

                input,
                select {
                    width: 100%;
                    padding: 8px;
                    margin-top: 5px;
                    border: none;
                    border-radius: 5px;
                    background-color: #444;
                    color: #fff;
                    font-size: 1em;
                    outline: none;
                }

                .avatars {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 5px;

                    .avatar {
                        cursor: pointer;
                        border: 2px solid transparent;
                        border-radius: 50%;
                        transition: border-color 0.3s ease;

                        &.selected-avatar {
                            border-color: #00bcd4;
                        }

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                        }
                    }
                }

                .attributes {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    margin-top: 5px;

                    p {
                        margin: 0;
                        font-size: 1em;
                    }
                }

                button {
                    margin-top: 10px;
                    padding: 8px;
                    background-color: #f44336;
                    cursor: pointer;

                    &:hover {
                        background-color: #00bcd4;
                    }
                }
            }
        }
    }
}
