<div class="game-page">
    <div class="item-1">
        <div class="conteneur-1">
            <h3>Informations de partie</h3>
            <div class="label">Taille de la carte: {{ gameSize }}</div>
            <div class="label">Nombre de joueurs actuels : 4</div>
            <div class="label">Joueur actif : Test</div>
        </div>
        <div class="conteneur-2">
            <h3>Informations du joueur</h3>
            <div class="label">Nom : Test</div>
            <div class="label">Points de vie restants : 5</div>
            <div class="label">Points de vie maximal : 10</div>
            <div class="label">Rapidité : D4</div>
            <div class="label">Attaque : D6</div>
            <div class="label">Défense : D6</div>
            <div class="label">Points de mouvements restants : 2</div>
            <div class="label">Nombre d'actions restantes : 1</div>
        </div>
        <div class="control-button">
            <button id="abandoned" (click)="openPopup()">Abandonner</button>
        </div>
    </div>
    <div class="item-2">
        <app-grid></app-grid>
        <div class="item-3">
            <div class="conteneur-3">
                <app-timer class="timer" [putTimer]="putTimer"></app-timer>
                <div class="end-button">
                    <button id="end" (click)="endTurn()">Finir son tour</button>
                </div>
            </div>
            <app-confirmation-popup
                class="popup"
                *ngIf="showCreationPopup"
                [message]="'Êtes-vous sûr de vouloir abandonner la partie ?'"
                (confirm)="confirmAbandoned()"
                (cancel)="cancelAbandoned()"
            ></app-confirmation-popup>
            <div class="inventory">
                <h3 id="inventory">Inventaire</h3>
                <div class="object-container">
                    <div class="object">
                        <img />
                    </div>
                    <div class="object">
                        <img />
                    </div>
                </div>
            </div>
            <div class="players-container">
                <div class="header" (click)="toggleExpand()">
                    <h3 class="players">Joueurs</h3>
                    <fa-icon class="icon" [icon]="faChevronDown" *ngIf="!isExpanded"></fa-icon>
                    <fa-icon class="icon" [icon]="faChevronUp" *ngIf="isExpanded"></fa-icon>
                </div>
                <div class="players-list" [class.expanded]="isExpanded">
                    <p class="player">joueur 1 a gagné 3 combats</p>
                    <p class="player">joueur 2 a gagné 2 combats</p>
                    <p class="player">joueur 3 a gagné 0 combats</p>
                    <p class="player">joueur 4 a gagné 1 combats</p>
                    <p class="player">joueur 5 a gagné 5 combats</p>
                    <p class="player">joueur 6 a gagné 4 combats</p>
                </div>
            </div>
            <div [class.grayed-out]="!isInvolvedInFight" class="fight-container">
                <h3>Combat</h3>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <app-chat *ngIf="playerName" [room]="sessionCode" [sender]="playerName"></app-chat>
</footer>
