<div class="game-page">
    <div class="item-1">
        <div class="conteneur-1">
            <h3>{{ gameInfo.name }}</h3>
            <div class="label">Taille de la carte: {{ gameInfo.size }}</div>
            <div class="label">Nombre de joueurs actuels : {{ playerCount }}</div>
            <div class="label">Joueur actif : {{ getPlayerNameBySocketId(currentPlayerSocketId) }}</div>
        </div>
        <div class="conteneur-2">
            <h3>{{ sessionService.playerName }}</h3>
            <img *ngIf="sessionService.playerAvatar" [src]="sessionService.playerAvatar" alt="Avatar du joueur" class="player-avatar" />
            <div class="label">Attaque : {{ sessionService.playerAttributes?.attack?.dice }}</div>
            <div class="label">Défense : {{ sessionService.playerAttributes?.defence?.dice }}</div>
            <div class="label">Rapidité : {{ speedPoints }}</div>
            <div class="label">Points de vie restants : {{ sessionService.playerAttributes?.life?.currentValue }}</div>
            <div class="label">Points de mouvements restants : {{ sessionService.playerAttributes?.speed?.currentValue }}</div>
            <div class="label">Action restante : {{ action }}</div>
        </div>

        <div class="control-button">
            <p *ngIf="isActive" class="actionsDescription">
                Vous pouvez choisir de cliquer sur une porte pour l'ouvrir ou la fermer OU sur un adversaire pour déclencher un combat.
            </p>
            <button id="action" [ngClass]="{ active: isActive }" (click)="toggleActive()">Action</button>
            <button id="abandoned" (click)="leaveSession()">Abandonner</button>
            <app-confirmation-popup
                *ngIf="leaveSessionPopupVisible"
                [message]="leaveSessionMessage"
                (confirm)="confirmLeaveSession()"
                (cancel)="cancelLeaveSession()"
            >
            </app-confirmation-popup>
        </div>
    </div>
    <!-- Modal for "Combat En Cours" (when the player is not involved) -->
    <div *ngIf="isCombatInProgress && !isPlayerInCombat" class="combat-modal">
        <div class="modal-content">
            <p>Combat En Cours...</p>
        </div>
    </div>

    <!-- Modal for "Vous êtes dans un combat" (when the player is involved) -->
    <div *ngIf="isPlayerInCombat && combatOpponentInfo" class="combat-modal">
        <div class="modal-content">
            <p>Vous êtes dans un combat contre {{ combatOpponentInfo.name }}!</p>
            <img [src]="combatOpponentInfo.avatar" alt="Opponent's Avatar" />
        </div>
    </div>

    <div class="item-2">
        <app-game-grid
            *ngIf="sessionCode !== ''"
            [sessionCode]="sessionCode"
            [playerAvatar]="playerAvatar"
            [actionMode]="isActive"
            (emitAvatarCombat)="handleDataFromChild($event)"
            (actionPerformed)="handleActionPerformed()"
        ></app-game-grid>

        <div class="item-3">
            <div class="conteneur-3">
                <app-timer class="timer" [timeLeft]="timeLeft"></app-timer>
                <div class="turn-indicator" *ngIf="currentPlayerSocketId">
                    Tour de : <span class="player-name">{{ getPlayerNameBySocketId(currentPlayerSocketId) }}</span>
                </div>
                <div class="end-button">
                    <button id="end" *ngIf="isPlayerTurn" (click)="endTurn()">Terminer le tour</button>
                </div>
            </div>

            <div class="inventory">
                <h3 id="inventory">Inventaire</h3>
                <div class="object-container">
                    <div class="object">
                        <img />
                    </div>
                    <div class="object">
                        <img />
                    </div>
                </div>
            </div>
            <div *ngIf="players && players.length > 0" class="players-container">
                <div class="header" (click)="toggleExpand()">
                    <h3 class="players">Joueurs</h3>
                    <fa-icon class="icon" [icon]="faChevronDown" *ngIf="!isExpanded"></fa-icon>
                    <fa-icon class="icon" [icon]="faChevronUp" *ngIf="isExpanded"></fa-icon>
                </div>
                <div class="players-list" [class.expanded]="isExpanded">
                    <p class="player" *ngFor="let player of players" [class.crossed-out]="player?.hasLeft">
                        {{ player?.name }}
                    </p>
                </div>
            </div>
            <!-- Dice Component with conditional highlight for player turn -->
            <div class="fight-container" [class.highlight-turn]="isCombatTurn">
                <h3>Combat</h3>
                <app-dice
                    [isCombatTurn]="isCombatTurn"
                    [attackBase]="attackBase"
                    [defenceBase]="defenceBase"
                    [attackRoll]="attackRoll"
                    [defenceRoll]="defenceRoll"
                    [success]="attackSuccess"
                >
                </app-dice>
                <button id="attack" (click)="chooseAttack()" [disabled]="isAttackOptionDisabled">Attaque</button>
                <button id="escape" (click)="chooseEvasion()" [disabled]="isEvasionOptionDisabled">Évasion ({{ escapeAttempt }} tentatives)</button>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <app-chat *ngIf="playerName" [room]="sessionService.sessionCode" [sender]="playerName" [isWaitingPage]="false"></app-chat>
</footer>
