<div *ngIf="subscriptionService.isFight" class="blur-overlay"></div>
<div class="game-page">
    <div *ngIf="subscriptionService.endGameMessage" class="end-game-modal">
        <div class="modal-content">
            <h2>Fin de la Partie</h2>
            <p>
                Le gagnant est : <strong>{{ subscriptionService.winnerName }}</strong>
            </p>
            <p>Direction vers les statistiques de cette partie dans 5 secondes...</p>
        </div>
    </div>
    <app-fight [isFight]="subscriptionService.isFight" [action]="subscriptionService.action"></app-fight>
    <div class="item-1">
        <div *ngIf="gameInfo$ | async as gameInfo" class="conteneur-1">
            <h3>{{ gameInfo.name }}</h3>
            <div class="label">Taille de la carte: {{ gameInfo.size }}</div>
            <div class="label">Nombre de joueurs actuels : {{ playerCount }}</div>
            <div *ngIf="currentPlayerSocketId$ | async as currentPlayerSocketId">
                <div class="label">Joueur actif : {{ subscriptionService.getPlayerNameBySocketId(currentPlayerSocketId) }}</div>
            </div>
        </div>
        <div class="conteneur-2">
            <h3 class="player-name">{{ sessionService.playerName }}</h3>
            <img *ngIf="sessionService.playerAvatar" [src]="sessionService.playerAvatar" alt="Avatar du joueur" class="player-avatar" />

            <div class="attribute">
                <fa-icon [icon]="faFistRaised" class="icon"></fa-icon>
                Attaque : {{ sessionService.playerAttributes.attack.currentValue }} ({{ sessionService.playerAttributes.attack.dice }})
            </div>
            <div class="attribute">
                <fa-icon [icon]="faShieldAlt" class="icon"></fa-icon>
                Défense : {{ sessionService.playerAttributes.defence.currentValue }} ({{ sessionService.playerAttributes.defence.dice }})
            </div>
            <div class="attribute">
                <fa-icon [icon]="faTachometerAlt" class="icon"></fa-icon>
                Rapidité : {{ sessionService.playerAttributes.speed.baseValue }}
            </div>
            <div class="attribute">
                <fa-icon [icon]="faHeart" class="icon"></fa-icon>
                Points de vie restants : {{ sessionService.playerAttributes.life.currentValue }}/{{ sessionService.playerAttributes.life.baseValue }}
            </div>
            <div class="attribute">
                <fa-icon [icon]="faWalking" class="icon"></fa-icon>
                Points de mouvements restants : {{ sessionService.playerAttributes.speed.currentValue }}
            </div>
            <div class="attribute">
                <fa-icon [icon]="faBolt" class="icon"></fa-icon>
                Action restante : {{ subscriptionService.action }}
            </div>
        </div>

        <div class="control-button">
            <p *ngIf="isActive && subscriptionService.action !== 0" class="actionsDescription">
                Vous pouvez choisir de cliquer sur une porte pour l'ouvrir ou la fermer OU sur un adversaire pour déclencher un combat.
            </p>
            <button id="action" *ngIf="subscriptionService.action !== 0" [ngClass]="{ active: isActive }" (click)="toggleActive()">Action</button>
            <button id="abandoned" (click)="leaveSession()">Quitter</button>
            <app-confirmation-popup
                *ngIf="leaveSessionPopupVisible"
                [message]="leaveSessionMessage"
                (confirm)="confirmLeaveSession()"
                (cancel)="cancelLeaveSession()"
            >
            </app-confirmation-popup>
        </div>
    </div>
    <!-- Modal pour inventaire plein -->
    <app-inventory-popup
        *ngIf="inventoryFullPopupVisible"
        [items]="inventoryFullItems"
        (discard)="discardItem($event)"
        (cancel)="inventoryFullPopupVisible = false"
    ></app-inventory-popup>
    <!-- Modal for "Combat En Cours" (when the player is not involved) -->
    <div *ngIf="subscriptionService.isCombatInProgress && !subscriptionService.isPlayerInCombat" class="combat-modal">
        <div class="modal-content">
            <p>Combat En Cours...</p>
        </div>
    </div>

    <div class="item-2">
        <app-game-grid
            *ngIf="sessionCode !== ''"
            [sessionCode]="sessionCode"
            [playerAvatar]="playerAvatar"
            [isActive]="isActive"
            (emitAvatarCombat)="handleDataFromChild($event)"
            (actionPerformed)="handleActionPerformed()"
            (emitIsFight)="onFightStatusChanged($event)"
        ></app-game-grid>

        <div class="item-3">
            <div class="conteneur-3">
                <app-timer class="timer" [timeLeft]="subscriptionService.timeLeft"></app-timer>
                <div class="turn-indicator" *ngIf="subscriptionService.displayedCurrentPlayerSocketId">
                    Tour de :
                    <span class="player-name">{{
                        subscriptionService.getPlayerNameBySocketId(subscriptionService.displayedCurrentPlayerSocketId)
                    }}</span>
                </div>
                <div class="end-button">
                    <button id="end" *ngIf="subscriptionService.showEndTurnButton" (click)="subscriptionService.endTurn()">Terminer le tour</button>
                </div>
            </div>

            <div class="inventory">
                <h3 id="inventory">Inventaire</h3>
                <div class="object-container">
                    <div class="object" *ngFor="let item of playerInventory$ | async">
                        <p class="description">{{ findDescriptionObject(item) }}</p>
                        <img [src]="item" alt="Objet" />
                    </div>
                </div>
            </div>

            <div *ngIf="players && players.length > 0" class="players-container">
                <div class="header" (click)="toggleExpand()">
                    <h3 class="players">Joueurs</h3>
                    <fa-icon class="icon" [icon]="faChevronDown" *ngIf="!isExpanded"></fa-icon>
                    <fa-icon class="icon" [icon]="faChevronUp" *ngIf="isExpanded"></fa-icon>
                </div>
                <div class="players-list" [class.expanded]="isExpanded">
                    <div class="player" *ngFor="let player of players" [class.crossed-out]="player?.hasLeft">
                        <fa-icon *ngIf="player?.isOrganizer" [icon]="faCrown" class="organizer-icon"></fa-icon>
                        <span class="player-name">{{ player?.name }}</span>
                        <span class="combat-info"> a gagné {{ player?.attributes?.['combatWon']?.currentValue }} combat(s) </span>
                        <span *ngIf="player?.socketId === (currentPlayerSocketId$ | async)" class="active-box">Actif</span>
                        <fa-icon *ngIf="hasFlagInInventory(player)" [icon]="faFlag" class="flag-icon"></fa-icon>
                    </div>
                </div>
            </div>
            <div *ngIf="this.debugModeService.debugModeSubject.value" class="debug-banner">Mode Débogage Activé</div>
        </div>
    </div>
    <footer class="footer">
        <app-chat *ngIf="playerName" [room]="sessionService.sessionCode" [sender]="playerName" [isWaitingPage]="false"></app-chat>
    </footer>
</div>
