* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    overflow-y: hidden;
}
.game-page {
    display: flex;
    flex-wrap: wrap;
    background-color: #fafafa78;
    flex-direction: row;
    height: 100%;
    width: 100%;
    font-family: emojione;
}

.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    z-index: 1;
}

.crossed-out {
    text-decoration: line-through;
}

.player.organizer {
    font-weight: bold;
    color: blue;
}

.player.active {
    font-weight: bold;
    color: green;
}

.item-1 {
    padding: 1.8%;
    order: 1;
    width: 280px;
    $medium-brown: #6d4c41;
    $text-color: #f5f5f5;
    .conteneur-1 {
        position: relative;
        background: linear-gradient(to bottom right, rgba(62, 39, 35, 0.8), rgba(109, 76, 65, 0.8));
        border: 1px solid $medium-brown;
        padding: 5%;
        border-radius: 15px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        margin-bottom: 20px;
    }
    .conteneur-2 {
        background: linear-gradient(to bottom right, rgba(62, 39, 35, 0.8), rgba(109, 76, 65, 0.8));
        border: 1px solid #5d4037;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
        color: #f5f5f5;
        text-align: left;
        .player-name {
            font-size: 24px;
            color: #f5f5f2;
            text-align: center;
            margin-bottom: 15px;
        }

        .player-avatar {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
            border: 2px solid #ffca28;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
            margin: 0 auto 15px;
            display: block;
        }

        .attribute {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            font-size: 1.1em;
            font-weight: bold;
            color: #f5f5f5;

            .icon {
                color: #ffca28;
                margin-right: 10px;
                font-size: 1.1em;
                overflow: hidden;
            }
        }
    }

    .label {
        display: flex;
        align-items: center;
        margin-bottom: 7%;
        color: $text-color;
        font-size: 1.2em;
        font-weight: bold;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    }
}

.item-2 {
    display: flex;
    padding-top: 1.5%;
    padding-bottom: 1%;
    flex-wrap: wrap;
    flex-direction: row;
    order: 2;
    flex-grow: 1;
    position: relative;
}
.grayed-out {
    opacity: 0.5;
}
.control-button {
    margin-top: 153px;
}
button {
    padding: 100px 100px;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 7px;
    transition: background-color 0.3s ease;
    font-family: emojione;
    font-style: bold;
}
#abandoned {
    background: linear-gradient(to right, #ec1022, #e74c3e);
    color: rgb(243, 238, 238);
    margin-left: 25px;
    font-size: 1.3em;
    font-weight: 900;
    padding: 15px;
    &:hover {
        background: linear-gradient(to right, #d10819, #d12414);
    }
    position: relative;
}

#action {
    background: linear-gradient(to right, #376e13, #23803e);
    color: rgb(246, 238, 238);
    margin-left: 185px;
    font-size: 1.3em;
    margin-top: 20px;
    font-weight: 900;
    padding: 15px;
    &:hover {
        background: linear-gradient(to right, #4caf50, #66bb6a);
    }

    &.active {
        background: linear-gradient(to right, #4caf50, #66bb6a);
    }
}

.actionsDescription {
    background-color: rgba(0, 0, 0, 0.894);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    width: 290px;
    margin-top: -4%;
}
#action,
#abandoned {
    display: inline-block;
    width: calc(50% - 10px);
    margin: 0 5px;
    z-index: 99999;
}

h3 {
    color: white;
    margin-top: 1.5%;
    font-style: italic;
    font-size: 1.3em;
    text-align: center;
}
.debug-banner {
    position: absolute; 
    bottom: 110px;
    left: 30%; 
    background: linear-gradient(to right, #2a962e, #66bb6a);
    color: #ffffff; 
    text-align: center;
    padding: 5px 10px; 
    border-radius: 5px; 
    font-size: 14px; 
    font-weight: bold;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    z-index: 10; 
  }