<div class="grid-container">
    <mat-grid-tile *ngFor="let row of gridTiles; let i = index">
        <div
            class="tile-content"
            *ngFor="let tile of row; let j = index"
            cdkDropList
            id="cdk-drop-list-{{ i }}-{{ j }}"
            [cdkDropListData]="{ image: tile.images[0], row: i, col: j }"
            (cdkDropListDropped)="moveObjectInGrid($event)"
            (mousedown)="handleMouseDown($event, i, j)"
            (mouseup)="handleMouseUp($event)"
            (mousemove)="handleMouseMove(i, j)"
            (contextmenu)="$event.preventDefault()"
        >
            <div class="image-stack" *ngFor="let image of tile.images">
                <div class="drop-zone" id="{{ j }},{{ i }},{{ image }}">
                    <img
                        *ngIf="isDraggableImage(image); else noDrag"
                        [src]="image"
                        cdkDrag
                        [cdkDragData]="{ image: image, row: i, col: j }"
                        draggable="true"
                        alt="image sur la tuile"
                    />
                    <ng-template #noDrag>
                        <img [src]="image" draggable="false" alt="image sur la tuile" />
                    </ng-template>
                </div>
            </div>
        </div>
    </mat-grid-tile>
</div>
