<div class="grid-container">
    <mat-grid-tile *ngFor="let row of gridTiles; let i = index">
        <ng-container *ngFor="let tile of row; let j = index">
            <div class="tile-content" (mousedown)="handleMouseDown($event, i, j)" (mouseup)="handleMouseUp($event)"
                (mousemove)="handleMouseMove(i, j)" (contextmenu)="deleteTile(i, j); $event.preventDefault()">
                <div class="image-stack" *ngFor="let image of tile.images">
                    <img [src]="tile.images[0]" alt="image sur la tuile" />
                </div>
            </div>
        </ng-container>
    </mat-grid-tile>
</div>