.grid-container {
    display: grid;
    width: 700px;
    height: 700px;
    border: 1.5px solid black;
}
mat-grid-tile {
    border: 1.5px solid black;
    position: relative;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
}

mat-grid-list {
    width: 100%;
    height: auto;
}

.tile-content {
    border: 1.5px solid black;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
