.editor-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #64cff6; 

    .editor-header {
      display: flex;
      justify-content: space-between; 
      align-items: flex-start;  
      padding: 10px;
  
      h1 {
        margin: 0;
        font-size: 2rem;
      }
    }
    .editor-body {
        display: flex;
        justify-content: flex-start;  
        padding: 10px;
        align-items: flex-start;

      .game-info {
        display: flex;
        flex-direction: column;
        gap: 5px; 
        margin-left: auto;  
  
        label {
          font-weight: bold;
        }
        input, textarea {
          padding: 10px;
          border: 2px solid black;
          border-radius: 4px;
          width: 300px;  
          font-size: 1rem;
        }
      }
        .game-grid {
          display: grid;
          grid-template-columns: repeat(26, 26px); 
          grid-template-rows: repeat(26, 26px); 
          gap: 2px;                               
          background-color: white;
          padding: 10px;
          border: 1px solid black;
          margin-right: 20px;  
        }
        @media (max-width: 1000px) {
          .game-grid {
            grid-template-columns: repeat(26, 20px); 
            grid-template-rows: repeat(26, 20px);
          }
        }
      
        @media (max-width: 900px) {
          .editor-body {
            flex-direction: column;  
            align-items: center;     
          }
      
          .game-grid {
            grid-template-columns: repeat(26, 18px);  
            grid-template-rows: repeat(26, 18px);
          }
      
          .game-info input, .game-info textarea {
            width: 100px;  
          }
        }
      }
    }