<div class="editor-page">
    <div class="item-1">
        <h1>Éditeur de jeu</h1>
        <div class="game-info">
            <label for="name">Nom du jeu:</label>
            <input id="name" [value]="game.name" (input)="updateGameName($event)" />

            <label for="description">Description:</label>
            <textarea id="description" [value]="game.description" (input)="updateGameDescription($event)"></textarea>
        </div>
    </div>
    <div class="item-2">
        <div
            class="grid-container"
            [ngStyle]="{ 'grid-template-columns': 'repeat(' + cols + ', 1fr)', 'grid-template-rows': 'repeat(' + rows + ', 1fr)' }"
        >
            <div class="grid-item" *ngFor="let cell of grid">
                <p></p>
            </div>
        </div>
        <div class="container-tile">
            <h3>Outils</h3>
            <div class="applicator-tools">
                <button class="tool" (click)="selectTool('wall')" [class.active]="selectedTool === 'wall'">
                    <img src="../../../assets/Wall.png" alt="Wall Tool" />
                    <p>Wall</p>
                </button>

                <button class="tool" (click)="selectTool('door')" [class.active]="selectedTool === 'door'">
                    <img src="../../../assets/Door.png" alt="Door Tool" />
                    <p>Door</p>
                </button>

                <button class="tool" (click)="selectTool('water')" [class.active]="selectedTool === 'water'">
                    <img src="../../../assets/Water.png" alt="Water Tool" />
                    <p>Water</p>
                </button>

                <button class="tool" (click)="selectTool('ice')" [class.active]="selectedTool === 'ice'">
                    <img src="../../../assets/Ice.png" alt="Ice Tool" />
                    <p>Ice</p>
                </button>
            </div>
        </div>
        <app-object-container class="object-container"></app-object-container>
        <div class="control-buttons">
            <button (click)="saveGame()">Sauvergarder</button>
            <button (click)="resetGame()">Réinitialiser</button>
        </div>
    </div>
</div>
