<div class="container">
    <div *ngIf="displayRoleDice" class="dice-roll-container">
        <img [src]="getDiceRollImage()" alt="Dice 1" class="dice-roll" [class.rolling]="rolling" />
        <img [src]="getDiceRollImage()" alt="Dice 2" class="dice-roll" [class.rolling]="rolling" />
    </div>
    <div *ngIf="!displayRoleDice" class="dice-roll-container">
        <img [src]="getDiceImage(diceResults[0])" alt="Dice 1" class="dice" />
        <img [src]="getDiceImage(diceResults[1])" alt="Dice 2" class="dice" />
    </div>
    <div class="diceResults">
        <p>Combattant : {{ diceResults[0] }}</p>
        <p>Opposant : {{ diceResults[1] }}</p>
    </div>
</div>

<button (click)="rollDice()">Attaque</button>
