<div class="container">
    <h3>Objets</h3>
    <div class="object-container">
        <div class="object">
            <p class="description">Le bouclier: +2 point en défense.</p>
            <img src="../../../assets/objects/Shield.png" />
        </div>
        <div class="object">
            <p class="description">La potion critique: +2 point sur la vie et -1 point en attaque.</p>
            <img src="../../../assets/objects/Critical-Potion.png" />
        </div>
        <div class="object">
            <p class="description">La roue: +2 point en rapidité si tu te trouves sur une case gazon.</p>
            <img src="../../../assets/objects/Wheel.png" />
        </div>
        <div class="object">
            <p class="description">La clé: ouvrir ou fermer une porte peu importe l'endroit où tu te trouves.</p>
            <img src="../../../assets/objects/Key.png" />
        </div>
        <div class="object">
            <p class="description">L'épée: +2 point en attaque si tu fais un chiffre pair.</p>
            <img src="../../../assets/objects/Sword.png" />
        </div>
        <div class="object">
            <p class="description">Les chaussures volantes: 0% de chance de tomber sur la glace au lieu de 10%.</p>
            <img src="../../../assets/objects/Flying_shoe.png" />
        </div>
        <div class="object">
            <img class="question-mark" src="../../../assets/objects/Question-mark.png" />
            <p class="displayedNumber">x {{ displayedNumber }}</p>
        </div>
        <div class="point">
            <h3>Point de départ:</h3>
            <div class="circle">{{ displayedNumber }}</div>
        </div>
    </div>
</div>
