.card {
    background-color: rgba(137, 171, 142, 0.975);
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 300px;
    cursor: pointer;
    transition:
        transform 0.2s,
        box-shadow 0.2s;

    &.selected {
        background-color: #09290f;
        border-color: 2px solid #ffeb3b;
    }

    &:hover {
        background-color: #6e9173;
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }

    .game-info {
        text-align: center;

        h4 {
            font-size: 1em;
            margin: 5px 0;
        }

        p {
            font-size: 0.9em;
            margin: 2px 0;
        }
    }

.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
}
    .game-image {
        width: 150px;
        height: auto;
        border-radius: 5px;
        margin: 0 auto 8px;
        display: block;
    }


.image-container:hover .game-image {
    opacity: 0.7;
}


.tooltip {
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%);
    width: 80%; 
    z-index: 10;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    pointer-events: none; 
}

.image-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
}
