.card {
    background-color: #baa549;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 300px;
    cursor: pointer;
    transition:
        transform 0.2s,
        box-shadow 0.2s;

    &.selected {
        background-color: #09290f;
        border-color: 2px solid #ffeb3b;
    }

    &:hover {
        background-color: #6e9173;
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }

    .game-info {
        text-align: center;

        h4 {
            font-size: 1em;
            margin: 5px 0;
        }

        p {
            font-size: 0.9em;
            margin: 2px 0;
        }
    }
}
