<body>
    <div class="container">
        <div class="header">
            <div class="logo-container">
                <img class="logo-image" src="../../../assets/LogoGame.png" alt="Logo Projet" />
            </div>
            <h1 class="header-item">Warriors of the Grid</h1>
        </div>

        <section id="server-message" class="justified">
            <div class="justified">
                <button class="button">Join</button>
                <button class="button" routerLink="/create-page">Create a game </button>
                <button class="button" routerLink="/admin-page">Manage games</button>
            </div>
        </section>

        <!-- <button class="button" routerLink="/game">Jouer!</button> -->

        <footer class="footer-item">
            <h4 class="team-name">Équipe 213</h4>
            <p>
                <span>Sobhi Sandakli</span>, <span>Rama Shannis</span>, <span>Noëla Panier</span>, <span>Mouneïssa Cisse</span>,
                <span>Ali El-Akhras</span>
            </p>
        </footer>
    </div>
</body>
