.chat-box {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 350px;
    max-height: 90vh;
    border-radius: 10px;
    box-shadow: 0 4px 20px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #0073b1;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tab-switch {
    display: flex;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s;
}

.tab.active {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.header-controls {
    display: flex;
    align-items: center;
}

.header-controls fa-icon {
    font-size: 18px;
    color: white;
    cursor: pointer;
    margin-right: 10px;
    transition: color 0.3s;
}

.header-controls fa-icon.active {
    color: #ffcc00;
}
.journal-section,
.messages-section {
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
    background-size: cover;
}
.journal,
.message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    margin: 5px 0;
    background: rgba(255, 255, 255, 0.8);
    word-break: break-word;
}

.message-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    margin: 5px 0;
    background: rgba(255, 255, 255, 0.8);
    word-break: break-word;
}

.message-content {
    flex-grow: 1;
}

.message-date {
    margin-left: 10px;
    font-size: 0.8em;
    color: #888;
    white-space: nowrap;
}
.journal-date,
.message-date {
    margin-left: 10px;
    font-size: 0.8em;
    color: #888;
    white-space: nowrap;
}

.message-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.input-field {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 5px;
}

.send-button {
    background: #0073b1;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.3s;
}

.send-button:hover {
    background: #005582;
}
.chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #0073b1;
    color: white;
    border-radius: 50%;
    padding: 12px;
    font-size: 24px;
    cursor: pointer;
    transition:
        background 0.3s,
        transform 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.chat-icon:hover {
    background: #005582;
    transform: scale(1.1);
}

.hidden {
    display: none;
}
