<div class="fight-modal" *ngIf="isFightActive">
    <div class="fight-content">
        <h3>Combat</h3>
        <div class="player-info">
            <img [src]="playerAvatar" alt="Votre avatar" />
            <p>Nom : {{ getPlayerNameBySocketId(currentPlayerSocketId) }}</p>
            <p>Attaque : {{ sessionService.playerAttributes?.attack?.currentValue }} ({{
                sessionService.playerAttributes?.attack?.dice }})</p>
            <p>Défense : {{ sessionService.playerAttributes?.attack?.currentValue }} ({{
                sessionService.playerAttributes?.defence?.dice }})</p>
            <p>Points de vie restants : {{ sessionService.playerAttributes?.life?.currentValue }}/{{
                sessionService.playerAttributes?.life?.baseValue
                }}</p>
        </div>

        <div class="opponent-info">
            <img [src]="combatOpponentInfo.avatar" alt="Avatar de l'adversaire" />
            <p>Nom : {{combatOpponentInfo.name }}</p>
            <p>Attaque : {{ combatOpponentInfo.attaque }}</p> <!-- a voir -->
            <p>Défense : {{ combatOpponentInfo.defence }}</p> <!-- a voir -->
            <p>Points de vie restants : {{ combatOpponentInfo.life }}</p><!-- a voir -->
        </div>

        <div *ngIf="isFight" class="fight-container" [class.highlight-turn]="isCombatTurn">
            <app-dice [isCombatTurn]="isCombatTurn" [attackBase]="attackBase" [defenceBase]="defenceBase"
                [attackRoll]="attackRoll" [defenceRoll]="defenceRoll" [success]="attackSuccess"></app-dice>
            <button id="attack" (click)="chooseAttack()" [disabled]="isAttackOptionDisabled">Attaque</button>
            <button *ngIf="escapeAttempt !== 0" id="escape" (click)="chooseEvasion()"
                [disabled]="isEvasionOptionDisabled">
                Évasion ({{ escapeAttempt }} tentatives)
            </button>
        </div>
    </div>
</div>