.grid-container {
    display: grid;
    width: 700px;
    height: 700px;
    border: 1.5px solid black;
}
mat-grid-tile {
    position: relative;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
}

mat-grid-list {
    width: 100%;
    height: auto;
}

/* Default black borders for all sides of each tile */
.tile-content {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box; /* Ensures borders are contained within dimensions */
}

.tile-border-top {
    border-top: 3px solid yellow;
}
.tile-border-right {
    border-right: 3px solid yellow;
}
.tile-border-bottom {
    border-bottom: 3px solid yellow;
}
.tile-border-left {
    border-left: 3px solid yellow;
}



