<div class="statistics-page">
    <div class="back-button-container">
        <button *ngIf="!showCharacterCreation" class="back-button" (click)="reset()" [routerLink]="['/home']">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
        </button>
    </div>
    <h2>Statistiques des joueurs</h2>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Combats</th>
                <th>Évasions</th>
                <th>Victoires</th>
                <th>Défaites</th>
                <th>Points vie perdus</th>
                <th>Points vie enlevés aux adversaires</th>
                <th>Objets ramassés</th>
                <th>Tuiles visitées (%)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let player of players">
                <td>{{ player.name }}</td>
                <td>{{ player.statistics.combats }}</td>
                <td>{{ player.statistics.evasions }}</td>
                <td>{{ player.statistics.victories }}</td>
                <td>{{ player.statistics.defeats }}</td>
                <td>{{ player.statistics.totalLifeLost }}</td>
                <td>{{ player.statistics.totalLifeRemoved }}</td>
                <td>{{ player.statistics.uniqueItemsArray.length }}</td>
                <td>{{ this.calculatePercentage(player.statistics.tilesVisitedArray.length, sessionStatistics.totalTerrainTiles) }}</td>
            </tr>
        </tbody>
    </table>
    <h2>Statistiques globales</h2>
    <ul>
        <li>Durée de la partie : {{this.sessionDuration}} </li>
        <li>Nombre de tours : {{sessionStatistics.totalTurns}} </li>
        <li>Pourcentage des tuiles visitées : {{this.calculatePercentage(sessionStatistics.visitedTerrainsArray.length, sessionStatistics.totalTerrainTiles)}}</li>
        <li>Pourcentage des portes manipulées : {{this.calculatePercentage(sessionStatistics.manipulatedDoorsArray.length, sessionStatistics.totalDoors)}} </li>
        <li>
            Nombre de joueurs ayant détenu le drapeau : {{sessionStatistics.uniqueFlagHoldersArray.length}}
        </li>
        <li>Pourcentage des portes manipulées :</li>
        <li>Nombre de joueurs ayant détenu le drapeau : {{ sessionStatistics.uniqueFlagHoldersArray.length }}</li>
    </ul>
    <app-chat *ngIf="playerName" [room]="sessionService.sessionCode" [sender]="playerName" [isWaitingPage]="false"></app-chat>
</div>
