<div class="statistics-page">
    <div class="back-button-container">
        <button *ngIf="!showCharacterCreation" class="back-button" (click)="reset()" [routerLink]="['/home']">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
        </button>
    </div>
    <h2>Statistiques des joueurs</h2>
    <table>
        <thead>
            <tr>
                <th>
                    Nom
                    <span (click)="sortPlayers('name', 'asc')">▲</span>
                    <span (click)="sortPlayers('name', 'desc')">▼</span>
                </th>
                <th>
                    Combats
                    <span (click)="sortPlayers('combats', 'asc')">▲</span>
                    <span (click)="sortPlayers('combats', 'desc')">▼</span>
                </th>
                <th>
                    Évasions
                    <span (click)="sortPlayers('evasions', 'asc')">▲</span>
                    <span (click)="sortPlayers('evasions', 'desc')">▼</span>
                </th>
                <th>
                    Victoires
                    <span (click)="sortPlayers('victories', 'asc')">▲</span>
                    <span (click)="sortPlayers('victories', 'desc')">▼</span>
                </th>
                <th>
                    Défaites
                    <span (click)="sortPlayers('defeats', 'asc')">▲</span>
                    <span (click)="sortPlayers('defeats', 'desc')">▼</span>
                </th>
                <th>
                    Points vie perdus
                    <span (click)="sortPlayers('totalLifeLost', 'asc')">▲</span>
                    <span (click)="sortPlayers('totalLifeLost', 'desc')">▼</span>
                </th>
                <th>
                    Points vie enlevés aux adversaires
                    <span (click)="sortPlayers('totalLifeRemoved', 'asc')">▲</span>
                    <span (click)="sortPlayers('totalLifeRemoved', 'desc')">▼</span>
                </th>
                <th>
                    Objets ramassés
                    <span (click)="sortPlayers('uniqueItemsArray', 'asc')">▲</span>
                    <span (click)="sortPlayers('uniqueItemsArray', 'desc')">▼</span>
                </th>
                <th>
                    Tuiles visitées (%)
                    <span (click)="sortPlayers('tilesVisitedPercentage', 'asc')">▲</span>
                    <span (click)="sortPlayers('tilesVisitedPercentage', 'desc')">▼</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let player of players">
                <td>{{ player.name }}</td>
                <td>{{ player.statistics.combats }}</td>
                <td>{{ player.statistics.evasions }}</td>
                <td>{{ player.statistics.victories }}</td>
                <td>{{ player.statistics.defeats }}</td>
                <td>{{ player.statistics.totalLifeLost }}</td>
                <td>{{ player.statistics.totalLifeRemoved }}</td>
                <td>{{ player.statistics.uniqueItemsArray.length }}</td>
                <td>{{ this.calculatePercentage(player.statistics.tilesVisitedArray.length, sessionStatistics.totalTerrainTiles) }} %</td>
            </tr>
        </tbody>
    </table>
    <h2>Statistiques globales</h2>
    <ul>
        <li>Durée de la partie : {{ this.sessionDuration }}</li>
        <li>Nombre de tours : {{ sessionStatistics.totalTurns }}</li>
        <li>
            Pourcentage des tuiles visitées :
            {{ this.calculatePercentage(sessionStatistics.visitedTerrainsArray.length, sessionStatistics.totalTerrainTiles) }} %
        </li>
        <li>
            Pourcentage des portes manipulées :
            {{ this.calculatePercentage(sessionStatistics.manipulatedDoorsArray.length, sessionStatistics.totalDoors) }} %
        </li>
        <li>Nombre de joueurs ayant détenu le drapeau : {{ sessionStatistics.uniqueFlagHoldersArray.length }}</li>
    </ul>
    <app-chat *ngIf="playerName" [room]="sessionService.sessionCode" [sender]="playerName" [isWaitingPage]="false"></app-chat>
</div>
