<div class="character-creation">
    <button class="back-button" (click)="goBack()">Retour</button>
    <h3>Création de personnage</h3>

    <div class="form-group">
        <label for="character-name">Nom du personnage :</label>
        <input id="character-name" type="text" [(ngModel)]="characterName" />
    </div>

    <div class="form-group">
        <label>Choisir un avatar :</label>
        <div class="avatar-selection">
            <div class="avatar" *ngFor="let avatar of availableAvatars" [class.selected]="selectedAvatar === avatar" (click)="selectAvatar(avatar)">
                <img [src]="avatar" alt="Avatar" />
            </div>
        </div>
    </div>

    <div class="attributes">
        <h4>Attributs :</h4>
        <div class="attribute" *ngFor="let attr of attributes | keyvalue">
            <div class="attribute-info">
                <strong>{{ attr.value.name }}:</strong> {{ attr.value.description }}
            </div>
            <div class="attribute-value">
                <!-- display current dice or current value -->
                <span *ngIf="attr.key === 'attack' || attr.key === 'defense'"> Dé : {{ attr.value.dice ? attr.value.dice : 'Non assigné' }} </span>
                <span *ngIf="attr.key === 'life' || attr.key === 'speed'"> Valeur : {{ attr.value.currentValue }} </span>
            </div>
        </div>
    </div>

    <!-- 6 faces dice select -->
    <div class="form-group">
        <label>Attribuer un dé à 6 faces (D6) à :</label>
        <div class="dice-selection">
            <label>
                <input type="radio" name="diceAttribute" value="attack" [(ngModel)]="diceAttribute" (change)="selectDiceAttribute('attack')" />
                Attaque
            </label>
            <label>
                <input type="radio" name="diceAttribute" value="defense" [(ngModel)]="diceAttribute" (change)="selectDiceAttribute('defense')" />
                Défense
            </label>
        </div>
    </div>

    <!-- +2 bonus select -->
    <div class="form-group">
        <label>Attribuer un bonus de +2 à :</label>
        <div class="bonus-selection">
            <label>
                <input type="radio" name="bonusAttribute" value="life" [(ngModel)]="bonusAttribute" (change)="selectBonusAttribute('life')" />
                Vie
            </label>
            <label>
                <input type="radio" name="bonusAttribute" value="speed" [(ngModel)]="bonusAttribute" (change)="selectBonusAttribute('speed')" />
                Rapidité
            </label>
        </div>
    </div>

    <button [disabled]="!characterName || !selectedAvatar || !bonusAttribute || !diceAttribute" (click)="submitCharacter()">
        Créer le personnage
    </button>
</div>
