<div class="waiting-page">
    <div class="info-box">
        <h2>
            <div class="icon-wrapper">
                <fa-icon [icon]="hourglass" class="hourglass-icon"></fa-icon>
            </div>
            En attente d'autres joueurs
        </h2>
        <p>Votre code d'accès :</p>
        <span class="access-code">{{ accessCode }}</span>
    </div>
    <div class="players-list">
        <h1>Liste des joueurs</h1>
        <ul>
            <li *ngFor="let player of activePlayers" [class.organizer]="player.isOrganizer">
                <div class="player-container">
                    <img [src]="player.avatar" alt="{{ player.name }}" class="player-avatar" />
                    <div class="player-info">
                        <span class="player-name">{{ player.name }}</span>
                        <span class="player-role" *ngIf="player.isOrganizer">Organisateur</span>
                    </div>
                </div>
                <button class="exclure-btn" *ngIf="sessionService.isOrganizer && !player.isOrganizer"
                    (click)="openConfirmationPopup(player)">Exclure</button>
            </li>
        </ul>
        <app-confirmation-popup *ngIf="popupVisible"
            [message]="'Voulez-vous vraiment exclure ' + selectedPlayer?.name + ' ?'" (confirm)="confirmExclusion()"
            (cancel)="cancelExclusion()">
        </app-confirmation-popup>
        <app-confirmation-popup *ngIf="leaveSessionPopupVisible" [message]="leaveSessionMessage"
            (confirm)="confirmLeaveSession()" (cancel)="cancelLeaveSession()">
        </app-confirmation-popup>
    </div>
    <footer class="footer">
        <div class="button-container">
            <ng-container *ngIf="sessionService.isOrganizer">
                <button class="generate-vp-btn" (click)="openVirtualPlayerPopup()">Joueur Virtuel</button>
                <div class="virtual-player-popup" *ngIf="virtualPlayerPopupVisible">
                    <div class="popup-content">
                        <p class="popup-question">Comment voulez-vous votre joueur virtuel ?</p>
                        <div class="popup-options">
                            <button (click)="addVirtualPlayer('Aggressif')" class="option-btn">Aggressif</button>
                            <button (click)="addVirtualPlayer('Défensif')" class="option-btn">Défensif</button>
                        </div>
                        <button (click)="cancelVirtualPlayer()" class="cancel-btn">Annuler</button>
                    </div>
                </div>
                
                <button class="lock-btn" (click)="toggleLock()">{{ roomLocked ? 'Déverrouiller'
                    : 'Verrouiller' }} la
                    salle</button>
                <button class="start-game-btn" (click)="startGame()">Lancer le jeu</button>
            </ng-container>
        </div>
        <button class="leave-session-btn" (click)="leaveSession()">Quitter la partie</button>
        <app-chat *ngIf="playerName" [room]="sessionCode" [sender]="playerName" [isWaitingPage]="true"></app-chat>
    </footer>
</div>