<div class="fight-modal" *ngIf="isFight">
    <div class="image-container">
        <div class="overlay"></div>
    </div>
    <h3>COMBAT</h3>
    <div class="fight-content">
        <div class="player-info">
            <div class="info-box">
                <p>Attaquant : {{ sessionService.playerName }}</p>
                <p *ngIf="isCombatTurn">
                    Attaque : {{ sessionService.playerAttributes?.attack?.currentValue }}
                    ({{ sessionService.playerAttributes?.attack?.dice }})
                </p>
                <p *ngIf="!isCombatTurn">
                    Défense : {{ sessionService.playerAttributes?.defence?.currentValue }}
                    ({{ sessionService.playerAttributes?.defence?.dice }})
                </p>
                <p>
                    Points de vie restants : {{ sessionService.playerAttributes?.life?.currentValue }}/
                    {{ sessionService.playerAttributes?.life?.baseValue }}
                </p>
            </div>
        </div>
        <div class="player-info">
            <div class="info-box">
                <p>Opposant : {{ combatOpponentInfo?.name }}</p>
                <p *ngIf="!isCombatTurn">
                    Attaque :
                </p>
                <p *ngIf="isCombatTurn">
                    Défense :
                </p>
                <p>
                    Points de vie restants :
                </p>
            </div>
        </div>
    </div>
    <div class="player-avatar">
        <img [src]="playerAvatar" alt="Votre avatar" />
        <span>VS</span>
        <img [src]="combatOpponentInfo?.avatar" alt="Avatar de l'adversaire" />

    </div>
    <app-dice class="dice" [isCombatTurn]="isCombatTurn" [attackBase]="attackBase" [defenceBase]="defenceBase"
        [attackRoll]="attackRoll" [defenceRoll]="defenceRoll" [success]="attackSuccess"></app-dice>
    <div class="action-buttons">
        <button id="attack" (click)="chooseAttack()" [disabled]="isAttackOptionDisabled == false">Attaque</button>
        <button *ngIf="escapeAttempt !== 0" id="escape" (click)="chooseEvasion()"
            [disabled]="isEvasionOptionDisabled !== false">
            Évasion: {{ escapeAttempt }} tentatives
        </button>
    </div>
</div>